@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    --font-body: 'Poppins';

    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body{
    height: 100%;

    background: var(--background);

    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
}

nav{
    min-width: 100%;
    margin: 5rem 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .title{
    max-width: 100%;
    margin: 1.5rem auto;

    text-align: center;
    color: var(--title);
    font: 700 1.5rem var(--font-body);
}

section .container,
section .button,
section .instruction{
    max-width: 100%;

    margin: 1.5rem auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .movie{
    max-width: 100%;
    height: 30rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section .movie img{
    width: 10rem;
    height: 17rem;
}

section .movie .descriptionMovie h2{
    min-width: 100%;
    text-align: center;
}

section .movie .imgPoster{
    width: 14.6875rem;
    height: 17,4375rem;

    object-fit: cover;
    
    padding: 1rem;
}

section .movie .titleMovie{
    text-align: left;
    color: var(--subtitle);
    font: 700 1.5rem var(--font-body);
    margin: 1.2rem 1rem;
}

section .movie .overviewMovie{
    text-align: left;
    color: var(--subtitle);
    font: 400 1rem var(--font-body);
    padding: 0.5rem 1rem;
}

section .button .buttonRandom{
    width: 12rem;
    height: 2.94rem;

    margin: 1.5rem auto;
    
    background-color: var(--bg-button);
    border-radius: 5px;

    font: 700 .8rem var(--font-body);
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
}

section .button .buttonRandom img{
    width: 35.56px;
    height: 25.29px;
}

section .instruction .textInstruction{
    text-align: center;
    color: var(--subtitle);
    font: 400 1rem var(--font-body);
    padding: 1.5rem;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    section .movie .titleMovie{
        font: 700 1.7rem var(--font-body);
    }
    
    section .movie .overviewMovie{
        text-align: center;
        font: 400 1.2rem var(--font-body);
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    section .movie{
        max-width: 80%;
    }

    section .movie .titleMovie{
        font: 700 1.7rem var(--font-body);
    }
    
    section .movie .overviewMovie{
        text-align: center;
        font: 400 1.2rem var(--font-body);
    }
}

@media screen and (min-width: 992px) and (max-width: 1022px) {

    section .movie{
        max-width: 47rem;
        height: 22rem;
        margin: 0 auto;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section .movie .titleMovie{
        font: 700 1.7rem var(--font-body);
    }
    
    section .movie .overviewMovie{
        text-align: left;
        font: 400 1.2rem var(--font-body);
    }
}

@media screen and (min-width: 1023px){
    section .movie{
        max-width: 47rem;
        height: 22rem;
        margin: 0 auto;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section .movie .titleMovie{
        font: 700 1.7rem var(--font-body);
    }
    
    section .movie .overviewMovie{
        text-align: left;
        font: 400 1.2rem var(--font-body);
    }
}